In [1]:
import pandas as pd
import os, sys
import subprocess

In [2]:
# Inputfolder & files
inputfolder = f"../Data"

# Nakamura dataset

### Description of arrivals CSV

* Rows are referred to the deep moonquake cluster type, i.e. A1, AX (with 'X' being a number).

* Columns are referred to P or S waves detected from different space stations.

	- Space stations from 12 to 16, with data from the station n. 12 being of the highest quality.

	- Wave types being S or P:

		* P-waves: primary waves that arrive first.
		* S-waves: secondary waves that arrive later.

### Description of locations CSV

* Rows are referred to the deep moonquake cluster type, i.e. A1, AX (with 'X' being a number).

* Column description:

	- 'Side': moon side, either Far (F) or Near (N).
	- Coordinates and associated errors.
	- 'Depth' for the moonquake, from 500 to 1500 km.
	- 'Assumed': the arrival-time data are not suficient to determine the depths, thus assumed.

### Description of levent_weber CSV

* No

* Columns of interest:

	- Y, JD, S, E: time register
	- A1: A1 deep moonquakes
	- T1, N1, T2, N2:
	- Grade:
	- Traces:
	- Station + coordinates: [12-16]

In [3]:
# Deep Moonquakes
dm_files = f"_2005_dm_"
arrivals = pd.read_csv(f"{inputfolder}/nakamura{dm_files}arrivals.csv")
locations = pd.read_csv(f"{inputfolder}/nakamura{dm_files}locations.csv")
locations_arrivals_nakamura_dm = locations.merge(arrivals, on="A", how="outer")
if not os.path.exists(f"{inputfolder}/locations_arrivals_nakamura_dm.csv"): locations_arrivals_nakamura_dm.to_csv(f"{inputfolder}/locations_arrivals_nakamura_dm.csv", index=False)
locations_arrivals_nakamura_dm

,A,Side,Lat,Lat_err,Long,Long_err,Depth,Depth_err,Assumed,12P,14P,15P,16P,12S,14S,15S,16S
0,1,N,-15.7,2.4,-36.6,4.6,867.0,29.0,N,138,140,197,184,230,233,341,323
1,3,N,-2.9,1.7,-50.3,6.3,946.0,22.0,N,,122,,,227,230,311,330
2,5,N,1.1,94.2,-44.7,16.4,933.0,109.0,Y,,141,,,232,242,,351
3,6,N,43.5,2.9,55.5,9.5,844.0,33.0,N,190,188,120,155,373,360,245,307
4,7,N,25.0,1.7,53.2,8.0,893.0,27.0,N,180,171,119,127,351,337,243,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,267,227,
162,278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,238
163,284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,268,243
164,288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,185,,280
165,289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,277,239,

In [4]:
# Artificial Impacts
ai_files = f"_1983_ai_"
arrivals = pd.read_csv(f"{inputfolder}/nakamura{ai_files}arrivals.csv")
locations = pd.read_csv(f"{inputfolder}/nakamura{ai_files}locations.csv")
locations_arrivals_nakamura_ai = locations.merge(arrivals, on="AI", how="outer")
if not os.path.exists(f"{inputfolder}/locations_arrivals_nakamura_ai.csv"): locations_arrivals_nakamura_ai.to_csv(f"{inputfolder}/locations_arrivals_nakamura_ai.csv", index=False)
locations_arrivals_nakamura_ai

,AI,Lat,Long,Y,JD,Hour,Min,Sec,12P,14P,...,12D,14D,15D,16D,17D,12T,14T,15T,16T,17T
0,12 LM,-3.94,-21.20,69,324,22,17,17.7,NaN,NaN,...,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13 S-IVB,-2.75,-27.86,70,105,1,9,41.0,10:09.6,NaN,...,135,NaN,NaN,NaN,NaN,28.6,NaN,NaN,NaN,NaN
2,14 S-IVB,-8.09,-26.02,71,35,7,40,55.4,41:31.1,NaN,...,172,NaN,NaN,NaN,NaN,35.7,NaN,NaN,NaN,NaN
3,14 LM,-3.42,-19.67,71,38,0,45,26.7,45:52.0,45:44.5,...,114,67.0,NaN,NaN,NaN,25.0,17.8,NaN,NaN,NaN
4,15 S-IVB,-1.51,-11.81,71,210,20,58,42.9,59:37.9,59:19.5,...,355,184.0,NaN,NaN,NaN,55.0,36.6,NaN,NaN,NaN
5,15 LM,26.36,0.25,71,215,3,3,37.0,NaN,NaN,...,1130,1048.0,93.0,NaN,NaN,NaN,NaN,22.0,NaN,NaN
6,17 S-IVB,-4.21,-12.31,72,345,20,32,42.3,33:38.3,33:14.3,...,338,157.0,1032.0,850.0,NaN,56.0,32.0,151.0,123.1,NaN
7,17 LM,19.99,30.51,72,350,6,50,20.8,NaN,NaN,...,1750,1599.0,770.0,986.0,9.0,NaN,NaN,NaN,NaN,5.8

In [8]:
# Shallow Moonquakes
# Remove columns on hour, minute and seconds because different naming conventions
sm_files = f"_sm_"
arrivals = pd.read_csv(f"{inputfolder}/nakamura_1983{sm_files}arrivals.csv").drop(["Hour"], axis=1)
locations = pd.read_csv(f"{inputfolder}/nakamura_1979{sm_files}locations.csv").drop(["H", "M", "S"], axis=1)
locations_arrivals_nakamura_sm = locations.merge(arrivals, on=["Year", "Day"], how="outer")
if not os.path.exists(f"{inputfolder}/locations_arrivals_nakamura_sm.csv"): locations_arrivals_nakamura_sm.to_csv(f"{inputfolder}/locations_arrivals_nakamura_sm.csv", index=False)
locations_arrivals_nakamura_sm

,Year,Day,Lat,Long,Magnitude,Comments,Station,P_YN,P_NG,P_JK,P_PH,P_Mean,S_YN,S_NG,S_JK,S_PH,S_Mean
0,1971.0,107.0,48.0,35.0,2.8,NaN,12.0,9.6,NaN,NaN,10.0,9.8,212.0,NaN,NaN,210.0,211.0
1,1971.0,140.0,42.0,-24.0,2.0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,183.0,NaN,NaN,183.5,183.3
2,1971.0,192.0,43.0,-47.0,1.9,Or lat -42 long -60,12.0,58.2,NaN,NaN,54.3,56.2,200.0,NaN,NaN,200.0,200.0
3,1972.0,2.0,54.0,101.0,1.9,NaN,14.0,170.0,NaN,NaN,NaN,170.0,485.0,NaN,NaN,NaN,485.0
4,1972.0,261.0,12.0,46.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1972.0,341.0,51.0,45.0,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1972.0,344.0,-20.0,-80.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1973.0,39.0,33.0,35.0,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1973.0,72.0,-84.0,-134.0,3.2,NaN,12.0,34.2,34.1,34.2,34.0,34.1,267.0,272.0,267.0,NaN,268.7
9,1973.0,171.0,-1.0,-71.0,2.2,NaN,12.0,56.1,55.0,56.0,NaN,55.7,180.0,185.3,187.5,182.0,183.7
10,1973.0,274.0,-37.0,-29.0,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1974.0,54.0,36.0,-16.0,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1974.0,86.0,-48.0,-106.0,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1974.0,109.0,-37.0,42.0,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1974.0,149.0,NaN,NaN,0.6,30 degrees from station 16 on east side of sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1974.0,192.0,21.0,88.0,2.7,NaN,12.0,138.7,138.5,138.7,NaN,138.6,459.0,NaN,417.0,NaN,438.0
16,1975.0,3.0,29.0,-98.0,3.2,NaN,12.0,33.5,33.6,33.5,34.0,33.7,NaN,269.0,255.0,NaN,262.0
17,1975.0,12.0,75.0,40.0,1.7,NaN,14.0,137.7,NaN,137.5,140.0,138.4,368.0,NaN,356.0,NaN,362.0
18,1975.0,13.0,-2.0,-51.0,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1975.0,44.0,-19.0,-26.0,1.4,NaN,14.0,58.3,58.2,58.0,NaN,58.2,108.0,107.8,108.0,NaN,107.9
20,1975.0,127.0,-49.0,-45.0,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1975.0,147.0,3.0,-58.0,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1975.0,314.0,-8.0,64.0,1.8,NaN,14.0,160.0,NaN,NaN,NaN,160.0,370.0,NaN,NaN,NaN,370.0
23,1976.0,4.0,50.0,30.0,1.8,NaN,14.0,NaN,NaN,NaN,NaN,NaN,353.0,353.8,NaN,NaN,353.4
24,1976.0,12.0,38.0,44.0,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1976.0,66.0,50.0,-20.0,2.3,NaN,12.0,118.0,110.8,110.8,NaN,113.2,263.0,262.0,263.0,262.5,262.6
26,1976.0,68.0,-19.0,-12.0,1.8,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,98.8,NaN,NaN,98.8
27,1976.0,137.0,77.0,-10.0,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.9,NaN,NaN,1.5,1.7,182.0,NaN,NaN,192.0,187.0
29,NaN,NaN,NaN,NaN,NaN,NaN,14.0,60.2,NaN,NaN,60.0,60.1,184.0,NaN,NaN,186.0,185.0
30,NaN,NaN,NaN,NaN,NaN,NaN,14.0,70.4,NaN,NaN,72.5,71.5,225.0,NaN,NaN,233.0,229.0
31,NaN,NaN,NaN,NaN,NaN,NaN,15.0,52.0,NaN,NaN,NaN,52.0,250.0,NaN,NaN,NaN,250.0
32,NaN,NaN,NaN,NaN,NaN,NaN,14.0,35.5,35.9,35.5,35.0,35.5,280.0,NaN,272.5,NaN,276.3
33,NaN,NaN,NaN,NaN,NaN,NaN,15.0,100.0,99.7,100.0,109.0,102.2,465.0,NaN,398.5,NaN,431.8
34,NaN,NaN,NaN,NaN,NaN,NaN,16.0,27.2,27.8,27.9,27.5,27.6,270.0,259.4,258.6,266.0,263.5
35,NaN,NaN,NaN,NaN,NaN,NaN,14.0,66.6,66.5,67.0,54.0,63.5,219.0,NaN,207.5,215.0,213.8
36,NaN,NaN,NaN,NaN,NaN,NaN,15.0,147.5,145.7,147.5,156.0,149.2,360.0,NaN,346.0,NaN,353.0
37,NaN,NaN,NaN,NaN,NaN,NaN,16.0,190.7,198.5,191.0,NaN,193.4,430.0,412.5,422.5,NaN,421.7
38,NaN,NaN,NaN,NaN,NaN,NaN,14.0,128.6,125.3,128.6,128.0,127.6,439.0,NaN,407.0,NaN,423.0
39,NaN,NaN,NaN,NaN,NaN,NaN,15.0,57.5,56.5,57.5,57.0,57.1,255.0,NaN,263.0,242.0,253.3
40,NaN,NaN,NaN,NaN,NaN,NaN,16.0,59.8,50.3,59.8,55.5,56.3,270.0,NaN,270.0,240.0,260.0
41,NaN,NaN,NaN,NaN,NaN,NaN,14.0,51.2,51.3,51.2,51.0,51.2,280.0,NaN,285.0,275.0,280.0
42,NaN,NaN,NaN,NaN,NaN,NaN,15.0,61.1,60.5,61.1,62.5,61.3,300.0,NaN,300.0,NaN,300.0
43,NaN,NaN,NaN,NaN,NaN,NaN,16.0,135.0,127.5,135.0,133.0,132.6,510.0,453.0,510.0,NaN,491.0
44,NaN,NaN,NaN,NaN,NaN,NaN,15.0,20.0,NaN,30.0,24.0,24.7,162.0,NaN,162.0,161.0,161.7
45,NaN,NaN,NaN,NaN,NaN,NaN,16.0,124.8,NaN,125.0,NaN,124.9,331.0,NaN,331.0,331.0,331.0
46,NaN,NaN,NaN,NaN,NaN,NaN,15.0,190.4,189.5,190.4,NaN,190.1,330.0,325.0,329.5,NaN,328.2
47,NaN,NaN,NaN,NaN,NaN,NaN,16.0,140.9,149.6,145.5,NaN,145.3,265.0,257.0,265.0,NaN,262.3
48,NaN,NaN,NaN,NaN,NaN,NaN,15.0,120.0,NaN,NaN,NaN,120.0,300.0,NaN,NaN,NaN,300.0
49,NaN,NaN,NaN,NaN,NaN,NaN,16.0,50.0,NaN,NaN,NaN,50.0,180.0,NaN,NaN,NaN,180.0
50,NaN,NaN,NaN,NaN,NaN,NaN,15.0,53.1,55.1,NaN,NaN,54.1,141.0,142.0,NaN,NaN,141.5
51,NaN,NaN,NaN,NaN,NaN,NaN,16.0,148.0,147.7,NaN,NaN,147.9,310.0,312.0,NaN,NaN,311.0
52,NaN,NaN,NaN,NaN,NaN,NaN,14.0,113.6,113.3,112.0,113.5,113.1,268.0,268.7,268.0,267.5,268.1
53,NaN,NaN,NaN,NaN,NaN,NaN,15.0,35.1,39.2,38.0,38.5,37.7,124.0,135.8,130.0,132.5,130.6
54,NaN,NaN,NaN,NaN,NaN,NaN,16.0,161.5,NaN,161.0,NaN,161.3,347.0,346.0,355.0,NaN,349.3
55,NaN,NaN,NaN,NaN,NaN,NaN,14.0,21.8,24.2,22.0,20.0,22.0,69.0,70.3,69.0,69.0,69.3
56,NaN,NaN,NaN,NaN,NaN,NaN,15.0,138.3,141.5,141.0,139.5,140.1,272.0,272.1,273.0,271.0,272.0
57,NaN,NaN,NaN,NaN,NaN,NaN,16.0,65.0,74.9,65.0,66.0,67.7,149.0,NaN,149.0,150.0,149.3

# Lognonné et al. (2003)